.footer {
  padding: 30px 0;
  background-color: #001d2f;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-social {
      display: flex;
      align-items: center;
      a {
        padding: 8px;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        &:last-child {
          margin: 0;
        }
        &:hover {
          opacity: 1;
          svg {
            color: $primary;
          }
        }
        svg {
          width: 100%;
          height: 100%;
          color: $white;
          transition: 0.3s ease;
        }
      }
    }
    p {
      color: #ccd2d5;
      font-size: 12px;
      line-height: 120%;
      font-family: $inter;
      font-weight: 400;
    }
  }
}
// 930px
@mixin footer-md-lg {
  .footer {
    padding: 24px 0;
  }
}
// 540px
@mixin footer-xsm-sm {
  .footer {
    padding: 18px 0;
    &__inner {
      flex-direction: column;
      align-items: center;
      &-social {
        margin-bottom: 10px;
      }
      p {
        order: 2;
      }
    }
  }
}